<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Mine</title>
  <link href="../assets/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/stylesheets/main.css" rel="stylesheet">
  <script src="../assets/javascripts/vue.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119555935-2"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119555935-2');
  </script>
</head>
<body class="main mines">
<div class="center-block" id="container">
  <div class="mines minefield">
    <table id="minefield">
      <tr v-for="row in minefield">
        <td v-for="col in row" v-bind:id="col.id" v-bind:onclick="'actions(' + col.row_num + ', ' + col.col_num + ', 0)'" v-bind:onmouseup="'actions(' + col.row_num + ', ' + col.col_num + ', 1)'" oncontextmenu="return false;">
      </tr>
    </table>
  </div>
  <div class="mines mines-menu">
    <div class="menu-top text-center">
      <div><img src="../assets/image/flag32.png"></div>
      <div class="info-value"><span id="flags_num">0</span>/<span id="mines_num">0</span></div>
      <div><img src="../assets/image/clock32.png"></div>
      <div class="info-value"><span id="timer">00:00</span></div>
    </div>
    <div class="menu-bottom">
      <button id="menu-btn0" onclick="start_over()" disabled>Start Over</button>
      <button id="menu-btn1" onclick="change_diff()">Change Difficulty</button>
      <button id="menu-btn2" onclick="pause()" disabled>Pause</button>
    </div>
  </div>
</div>

<div class="dialog default-dialog" id="main-dialog" hidden>
  <div class="dialog-head"></div>
  <div class="dialog-content">
    <div class="dialog-img">
      <img src="../assets/image/dialog/question.png">
    </div>
    <div class="dialog-mes">
      <h3 class="dialog-title">Do you want to start a new game?</h3>
      <p>If you start a new gamae, your current progress will be lost.</p>
    </div>
    <div class="dialog-btn-group">
      <button id="dialog-btn0">Keep Current Game</button>
      <button id="dialog-btn1">Start New Game</button>
    </div>
  </div>
</div>

<div class="dialog default-dialog" id="rank-dialog" hidden>
  <!--<div class="dialog-head text-center">-->
    <!--<span class="dialog-head-title single">Best Times</span>-->
    <!--<button class="dialog-head-btn"><img src="../assets/image/dialog/close_btn.png"></button>-->
  <!--</div>-->
  <div class="dialog-head text-center">
    <span class="dialog-head-title">Congratulations!</span>
    <br>
    <span class="dialog-head-title second-level">Your score has made the top ten.</span>
    <button class="dialog-head-btn btn-done">Done</button>
  </div>
  <div class="dialog-content rank">
    <div class="minefield-type text-center">
      Minefield: 8 x 8, 10 mines
    </div>
    <hr>
    <table class="rank-table text-center" id="rank-table">
      <thead><tr><td>Rank</td><td>Time</td><td>Player</td></tr></thead>
      <tbody>
      <tr><td>1</td><td>0 minutes 15 seconds</td><td>Keyboard L</td></tr>
      <tr><td>2</td><td>0 minutes 15 seconds</td><td>Keyboard L</td></tr>
      <tr><td>3</td><td>0 minutes 15 seconds</td><td>Keyboard L</td></tr>
      <tr><td>4</td><td>0 minutes 15 seconds</td><td>Keyboard L</td></tr>
      <tr><td>5</td><td>0 minutes 15 seconds</td><td>Keyboard L</td></tr>
      <tr><td>6</td><td>0 minutes 15 seconds</td><td>Keyboard L</td></tr>
      <tr><td>7</td><td>0 minutes 15 seconds</td><td>Keyboard L</td></tr>
      <tr><td>8</td><td>0 minutes 15 seconds</td><td>Keyboard L</td></tr>
      <tr><td>9</td><td>0 minutes 15 seconds</td><td>Keyboard L</td></tr>
      <tr><td>10</td><td>0 minutes 15 seconds</td><td>Keyboard L</td></tr>
      </tbody>
    </table>
  </div>
</div>

<script src="../assets/javascripts/jquery-3.3.1.min.js"></script>
<script src="../assets/javascripts/bootstrap.min.js"></script>
<script src="../assets/javascripts/main.js"></script>
<script src="../assets/javascripts/mines.js"></script>
<script>
  let container_min_width = 30 * minefield_width + 174;
  let container_min_height = 30 * minefield_height;
  $(window).ready(function() {
      // 初始化雷区
      let minefield_vue = new Vue({
          el: '#minefield',
          data: {
              minefield: minefield
          }
      });
      refresh_minefield();

      // // 限制窗口最小大小
      // $('#container').css({
      //     'min-width': container_min_width,
      //     'min-height': container_min_height
      // });
      $(window).resize(function() {
          // 使main（body）最大化
          let container_height = $(window).height() - 40;
          let container_width = $(window).width() - 36;
          let container_should_height = (container_width - 174) / minefield_width * minefield_height;
          let container_should_width = (container_height) / minefield_height * minefield_width + 174;
          if (container_should_height > container_height) {
              container_width = container_should_width;
          }
          else {
              container_height = container_should_height;
          }
          $('#container')
              .height(container_height)
              .width(container_width)
              .css('margin-top', ($(window).height() - container_height) / 2 - 20);
      }).resize();
  });
</script>
</body>
</html>
