@font-color: #4c4c4c;
@main-bg-color: #f2f1f0;

@cell-color: #babdb6;
@cell-die-color: #888a85;
@cell-hover-color: #d3d7cf;
@cell-active-color: #dededc;

@cell-1mines-bg: url('../image/default/1mines.svg') no-repeat center;
@cell-2mines-bg: url('../image/default/2mines.svg') no-repeat center;
@cell-3mines-bg: url('../image/default/3mines.svg') no-repeat center;
@cell-4mines-bg: url('../image/default/4mines.svg') no-repeat center;
@cell-5mines-bg: url('../image/default/5mines.svg') no-repeat center;
@cell-6mines-bg: url('../image/default/6mines.svg') no-repeat center;
@cell-7mines-bg: url('../image/default/7mines.svg') no-repeat center;
@cell-8mines-bg: url('../image/default/8mines.svg') no-repeat center;
@cell-exploded-bg: url('../image/default/exploded.svg') no-repeat center;
@cell-flag-bg: url('../image/default/flag.svg') no-repeat center;
@cell-incorrect-bg: url('../image/default/incorrect.svg') no-repeat center;
@cell-maybe-bg: url('../image/default/maybe.svg') no-repeat center;
@cell-mine-bg: url('../image/default/mine.svg') no-repeat center;
@cell-overmine-bg: url('../image/default/overmine.svg') no-repeat center;

@btn-bg: linear-gradient(to bottom, #ffffff , #eae8e7);
@btn-hover-bg: linear-gradient(to bottom, #ffffff , #f0efee);
@btn-active-bg: linear-gradient(to bottom, #dcdcdc , #f5f5f5);
@btn-border-color: #b7b7b7 #b7b7b7 #959595 #b7b7b7;
@btn-border-hover-color: #b7b7b7 #a5a5a5 #8d8d8d #a5a5a5;
@btn-border-active-color: #df835f #cb6d46 #824e24 #cb6c46;

.default-btn {
  border-radius: 5px;
  border: 1px solid;
  border-color: @btn-border-color;
  background: @btn-bg;
  &:hover {
    border-color: @btn-border-hover-color;
    background: @btn-hover-bg;
  }
  &:active {
    border-color: @btn-border-active-color;
    background: @btn-active-bg;
  }
}